/* =============
    Chocolate-drip-strawberry
============= */
#cake-2 {
    img {
        display: grid;
        grid-template-columns: 50px 50px 50px;
        max-width: 100%;
}
}

#cake-3 {
    img {
        display: grid;
        grid-template-columns: 50px 50px 50px;
    }
}
