/* =============
    Chocolate-drip-strawberry
============= */
#cakes {
    display: grid;
}
#cake-2 {
    grid-area: cake-2;
    display: grid;
        grid-template-columns: 50px 50px 50px;
        max-width: 100%;
        img {
        max-width: 100%;
}
}

#cake-3 {
    img {
        display: grid;
        grid-template-columns: 50px 50px 50px;
    }
}
