/* =============
    Section-2
============= */
#cupcakes {
    display: grid;

    #minicupcakes {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "newcupcakes minicupcakes";
        
        h2 {
            display: inline-block;
            grid-area: newcupcakes;
        }

        img {
            grid-area: minicupcakes;
        }
    }
}

/* @include md{
    #cupcakes {
        display: grid;
    }
    section {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "newcupcakes minicupcakes" ;
    #newcupcakes {
        grid-area: newcupcakes;
    }
    #minicupcakes {
        grid-area: minicupcakes;
    }
    }
} */