/* =============
    Header
============= */
header {
#header-aside {
    display: grid;
    align-content: left;
}
#company-name {
    align-content: center;
}
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

    >div {
        grid-area: header;
    }
}